﻿
@{
    ViewData["Title"] = "Калькулятор";
}    
    <div class="text-center">       
        <h1>Ну чо блин считай</h1>
        <form action="" method="post">
            <input type="number" placeholder="сторона a" name="a" value="" />
            <input type="number" placeholder="сторона b" name="b" value="" />
            <input type="number" placeholder="сторона c" name="c" value="" />
            <button>Считай</button>
            <p>Ответ = @ViewBag.result</p>
        </form>
    </div>       
        <img src="~/nerav_treug.png" alt="Не нашел :с" width="300" />
