﻿@{
    ViewData["Title"] = "Домашняя";
}

<div class="text-center">    
    <h1 class="display-4">Добро пожаловать на мой че</h1>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">А вот тут вы можете увидеть мою пятерку по трпо.</a>
</div>

